<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ppl.sipiru4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivityController"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailPesanController"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivityController" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityController" />
        </activity>

        <activity
            android:name=".admin_ui"
            android:label="@string/title_activity_admin_ui" >
        </activity>
        <activity
            android:name=".create_table_admin"
            android:label="@string/title_activity_create_table_admin" >
        </activity>
        <activity
            android:name=".update_table_admin"
            android:label="@string/title_activity_update_table_admin" >
        </activity>
        <activity
            android:name=".delete_table_admin"
            android:label="@string/title_activity_delete_table_admin" >
        </activity>
        <activity
            android:name=".update_akun"
            android:label="@string/title_activity_update_akun" >
        </activity>
        <activity
            android:name=".retrive_table_admin"
            android:label="@string/title_activity_retrive_table_admin" >
        </activity>
        <activity
            android:name=".pop_up"
            android:label="@string/title_activity_pop_up" >
        </activity>
    </application>

</manifest>
